
body {
    margin: 0;
    background-color: #ba84ff;
    float: center;
}
main{
    margin:5%;
}
article{
    padding: 1em;
}
.topic{
    background-color: #9966d9;
    color: rgb(255, 255, 255);
    border: #9966d9;
    border-style: solid;
    padding: 1em;
    margin: 1em;
    display: block;
    float: center;

}
.planet-pictures{
    margin: 1em;
    width: 20em;
    height:13em;
}
.figure-pics{
    display: flex;
    justify-content: center;
}

#planets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#text-title{
    font-family: "Vidaloka", system-ui;
    font-weight: 400;
}
#subtitle{
    font-family: "Vidaloka", system-ui;
}
#title > h1, p{
    text-align: center;
}
#title > h1{
    margin: 0%;
}
#title {
    background-color: #8461bd;
    padding: 2em;
}
#background{
    background-color: #ba84ff;
}

  